.header-logo {
    display: flex;
}

.logo img {
    width: auto;
    height: 90px;
    display: block;
}

.header-links{
    position: relative;
    display: flex;
    left: 19%;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    padding: 25px;
    font-weight: 800;
    font-size: 16px;
    color: #333;
}

.nav-menu a:hover {
    color: green;
    transition: color 0.3s ease;
}

.nav-links {
    position: relative;/*так и не понял как работать с стилем position */
}

.nav-underline {
  position: absolute;
  bottom: 0;              /* прилегает к низу контейнера */
  height: 3px;            /* управляй толщиной тут */
  background-color: #2e7d32;  /* цвет полоски */
  transition: left 0.3s, width 0.3s;
  left: 0;
  width: 0;
  pointer-events: none;

}

.header-right-button {
    position: relative;
    left: 45%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-right-button .reservation-button{
    display: block;
    border-style: solid;
    border: 0;
    border-radius: 7px;
    border-width: 1px;
    font-weight: 400;
    height: 60px;
    width: 150px;
    color: black;
    background-color: orange;
    text-decoration: none;
}

.map-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
}

.map-link:hover {
    color: green;
    cursor: pointer;
    transition: color 0.3s ease;
}

.map-icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
    display: block;
}
