.site-header {
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  gap: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  padding: 8px clamp(10px, 5vw, 40px); /* адаптивный отступ */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
