@media (max-width: 767px) {
  .site-header {
    margin-left: 0;
    margin-right: 0;
    height: 75px;
    width: 100%;
    padding-left: 5px;
    z-index: 1001;
    position: fixed;
  }

  .logo img {
    height: 60px;
  }

  .nav-menu,
  .header-right-button {
    display: none;
  }

  .burger-button {
    display: flex;
  }

  .nav-menu.menu--active,
  .header-right-button.header--active {
    display: block;
    right: 0;
  }

  .nav-menu {
    position: fixed;
    top: 75px;
    right: -250px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
  }

  .nav-menu a {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 15px;
    font-size: 20px;
  }

  .hero-container-buttons {
    flex-direction: column;
    align-items: center;
  }

  .reservation-button-hero,
  .hero-container-buttons .button {
    background-color: orange;
    width: 150px;
    border-radius: 20px;
  }

  .header-right-button {
    position: fixed;
    top: 240px;
    right: -250px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    margin-top: 70px;
  }

  .header-right-button button {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 80px;
    padding: 10px 19px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .header-right-button::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: green;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }


  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .hero-info {
    padding: 40px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }

  .hero-info .hero-greeting {
    padding-left: 0;
  }

  .hero-info .hero-greeting::before {
    left: 70px;
    top: 13px;
    display: none;
  }

  .hero-info h1 {
    font-size: 36px;
  }

  .arrow,
  .circle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 848px) {
  .site-header {
    gap: 15px;
    padding: 0;
  }

  .nav-menu a {
    font-size: 13px;
    padding: 12px
  }

  .header-right-button {
    margin-right: 15px;
    font-size: 13px;
  }

  .header-right-button .reservation-button {
    height: 50px;
    width: 110px;
  }

  .hero-info {
    width: 600px;
    padding-left: 90px;
    padding-top: 200px;
  }

  .hero-info h1 {
    font-size: 55px;
  }

  .arrow {
    height: 35px;
    top: 125px;
    right: -55px;
  }

  .circle {
    top: 100px;
    left: -70px;
  }
}

@media (min-width: 849px) and (max-width: 1000px) {
  .site-header {
    gap: 15px;
    padding: 0;
  }

  .logo img {
    height: 70px;
  }

  .nav-menu a {
    font-size: 15px;
    padding: 15px
  }

  .header-right-button {
    margin-right: 15px;
    font-size: 15px;
  }

  .header-right-button .reservation-button {
    height: 40px;
    width: 130px;
  }

  .hero-info {
    width: 600px;
    padding-left: 60px;
  }

  .hero-info h1 {
    font-size: 55px;
  }

  .arrow {
    height: 35px;
    top: 160px;
    right: -100px;
  }

  .circle {
    top: 135px;
    left: -30px;
  }
}

@media (min-width: 1001px) and (max-width: 1023px) {
  .logo img {
    height: 70px;
  }

  .nav-menu a {
    padding: 18px
  }

  .hero-info {
    width: 600px;
    padding-left: 60px;
  }

  .hero-info h1 {
    font-size: 55px;
  }

  .arrow {
    height: 35px;
    top: 160px;
    right: -100px;
  }

  .circle {
    top: 135px;
    left: -30px;
  }
}

@media (min-width: 1024px) and (max-width: 1284px) {
  .nav-menu a {
    padding: 22px
  }


  .hero-info {
    padding-left: 90px;
    padding-top: 200px;
    width: 680px;
  }

  .hero-info h1 {
    font-size: 60px;
  }

  .hero-info h1 {
    font-size: 65px;
  }

  .hero-info .circle {
    display: flex;
    position: relative;
    top: 60px;
    left: -70px;
  }

  .arrow {
    height: 30px;
    top: 80px;
    right: -60px;
  }
}

@media (min-width: 1285px) and (max-width: 1439px) {
  .hero-info {
    padding-left: 110px;
    padding-top: 210px;
    width: 700px;
  }

  .hero-info h1 {
    font-size: 65px;
  }

  .hero-info .circle {
    display: flex;
    position: relative;
    top: 50px;
    left: -80px;
  }

  .arrow {
    height: 30px;
    top: 70px;
    right: -60px;
  }
}

@media (min-width: 1440px) {
  .hero-info {
    padding-left: 170px;
    padding-top: 190px;
  }
  .hero-info h1{
    font-size: 70px;
  }

  .hero-info .hero-greeting{
    margin: 0;
  }
  .hero-info .hero-greeting::before{
    top: 13px;
  }

  .arrow{
    height: 40px;
    top: 110px;
  }

  .circle{
    top: 80px;
  }
}

@media (min-width: 1920px){

  .hero-info {
    padding-left: 170px;
    padding-top: 210px;
  }
  .hero-info h1{
    font-size: 80px;
  }

  .hero-info .hero-greeting{
    margin: 0;
  }
  .hero-info .hero-greeting::before{
    top: 13px;
  }

  .arrow{
    height: 40px;
    top: 130px;
  }

  .circle{
    top: 100px;
  }
}